body{
    background-color: #111;
    position: relative;
    overflow-x: hidden;
}


body::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;

    width: 20px;
    height: 100vh;

    background: cyan;

    box-shadow:
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan,
        0 0 100px cyan;

    z-index: -1;
}


body::after{
    content: "";
    position: fixed;
    right: 0;
    top: 0;

    width: 20px;
    height: 100vh;

    background: cyan;

    box-shadow:
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan,
        0 0 100px cyan;

    z-index: -1;
}

 
.hero{
   min-height: 100vh;
   
   color: cyan;

   flex-direction: column;
   justify-content: center;
   align-items: center;


}

.description-box{
    max-width: 800px;
    padding: 30px;

    margin: 0 auto;

    background-color: orange;

    border: 2px solid #dee2e6;
    border-radius: 15px;

    box-shadow: 4px 10px rbga(0,0,0,0.1);
}

.Mental-cage-image {
    max-width: 100%;
    width: 500px;
    height: auto;

    border: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15)

}

.profile-image {
    width: 100%;
    max-width: 380px;
    height :auto;

    border-radius: 20px;
    
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.Graduation-image{
     width: 60%;
    max-width: px;
    height :auto;

    border-radius: 20px;
    
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}


.about-text{
    font-size: 1.8rem;
    line-height: 1.8;
}

.game-text{
    font-size: 1.3rem;
    line-height: 1.8;
}

.left-text{
    text-align: left;
}

.clickable-image{
    cursor: pointer;

    transition: transform 0.6s ease;

    max-width: 100%;
    width: 500px;
    height: auto;

    border: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15)
}




.portfolio-btn {
  
    font-size: 1.2rem;
    padding: 15px 35px;
    border-radius: 20px;

    transition: all 0.3s ease;
}


.portfolio-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.4);
}

.game-media{
    position: relative;
    display: inline-block;
}


.game-logo{
    position: absolute;

    top: -30px;
    left: -20px;

    width: 260px;
    height: auto;

   transform: rotate(-6deg);

    z-index: 2;

    filter: drop-shadow(0 0 10px cyan);
}


.gameplay-gif{
    width: 100%;
    max-width: 550px;
    height: auto;

    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.unity-section{
    position: relative;
    padding: 180px 0;
    overflow: hidden;
}

.unity-section::before{
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1600px;
    height: 1600px;

    opacity: 0.20;

    background-image: url("Unity logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    z-index: 0;
}

.unity-section > *{
    position: relative;
    z-index: 1;
}


.blender-section{
    position: relative;
    padding: 180px 0;
    overflow: hidden;
}

.blender-section::before{
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1800px;
    height: 1800px;

    opacity: 0.20;

    background-image: url("Blender logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    z-index: 0;
}

.blender-section > *{
    position: relative;
    z-index: 1;
}

.krita-section{
    position: relative;
    padding: 180px 0;
    overflow: hidden;
}

.krita-section::before{
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 1200px;

    opacity: 0.20;

    background-image: url("Krita logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    z-index: 0;
}

.krita-section > *{
    position: relative;
    z-index: 1;
}


@media (max-width: 992px){

    .profile-image{
        max-width: 280px;
    }

    .col-lg-7{
        text-align: center !important;
    }



    .unity-section,
    .blender-section,
    .krita-section{
        padding:120px 0;
    }

    .unity-section::before{
        width:900px;
        height:900px;
    }

    .blender-section::before{
        width:1000px;
        height:1000px;
    }

    .krita-section::before{
        width:800px;
        height:800px;
    }

    .gameplay-gif,
    .Mental-cage-image,
    .Graduation-image,
    .profile-image{
        max-width:85%;
    }

    .game-logo{
        width:180px;
    }

    .about-text{
        font-size:1.4rem;
    }

    .game-text{
        font-size:1.1rem;
    }
}



@media (max-width:768px){
 
    .profile-image{
      max-width: 220px;
      margin: 0 auto;
      display: block;
    }

    .about-text{
        text-align: center;
    }

    .unity-section,
    .blender-section,
    .krita-section{
        padding:80px 0;
    }

    .unity-section::before{
        width:600px;
        height:600px;
    }

    .blender-section::before{
        width:650px;
        height:650px;
    }

    .krita-section::before{
        width:500px;
        height:500px;
    }

    .gameplay-gif,
    .Mental-cage-image,
    .Graduation-image,
    .profile-image{
        max-width:100%;
    }

    .game-logo{
        width:120px;
        top:-15px;
        left:-10px;
    }

    .about-text{
        font-size:1.1rem;
    }

    .game-text{
        font-size:1rem;
    }
}


@keyframes pulseGlow{
    0%,100%{
        opacity:0.5;
    }

    50%{
        opacity:1;
    }
}

body::before,
body::after{
    animation: pulseGlow 2s infinite;
}

